@(house: House)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="@routes.Assets.versioned("images/favicon.png")">

        <title>百米厨房</title>

        <link href="@routes.Assets.versioned("stylesheets/boot/offcanvas.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("stylesheets/boot/bootstrap-theme.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("stylesheets/boot/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("stylesheets/list/houses.css")" rel="stylesheet">

        <script src="@routes.Assets.versioned("javascripts/boot/html5shiv.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/boot/respond.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery-2.1.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/boot/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/boot/offcanvas.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/jquerysession.js")" type="text/javascript"></script>
        <script >
                function checkToken() {
                    if (null == $.session.get('user')) {
                        location.href = "/login";
                    } else {
                    }
                }
                window.onload = checkToken;
        </script>
    </head>
    <body>
        <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">百米厨房</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">商铺</a></li>
                        <li><a href="#">客户</a></li>
                        <li><a href="#">经纪人</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="/houses">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">操作 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">修改用户信息(待定)</a></li>
                                <li class="divider"></li>
                                <li><a href="#">退出</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div> <!-- /.container -->
        </nav> <!-- /.navbar -->
        <!-- 正式开始-->
        <div class="html-contents">

            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-xs-1 col-lg-1"></div>
                    <div class="col-xs-4 col-lg-4">
                        <div class="carousel slide" id="carousel-558734">
                            <ol class="carousel-indicators">
                                <li class="active" data-slide-to="0" data-target="#carousel-558734">
                                </li>
                                <li data-slide-to="1" data-target="#carousel-558734">
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img alt="" src="http://4493bz.1985t.com/uploads/allimg/150127/4-15012G52133.jpg" />
                                </div>
                                <div class="item">
                                    <img alt="" src="http://4493bz.1985t.com/uploads/allimg/150127/4-15012G51944.jpg" />
                                </div>
                            </div> <a data-slide="prev" href="#carousel-558734" class="left carousel-control">‹</a> <a data-slide="next" href="#carousel-558734" class="right carousel-control">›</a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-6">
                        <div class="show-div">
                            <ul class="show-ul-show">
                                <li>
                                    <p>商铺编号: @house.getCode</p>
                                    <p>业务类型: @house.getRentBusinessType</p>
                                    <p>租售状态: @house.getRentStatus</p>
                                </li>
                            </ul>
                        </div>
                        <div class="show-div">
                            <ul class="show-ul-show">
                                <li>
                                    <p>&nbsp &nbsp &nbsp &nbsp 面积: @house.getAreas 平方米</p>
                                    <p>&nbsp &nbsp &nbsp &nbsp 租金: @house.getChummageDaily 元/天/m2    @house.getChummageMonth 万/月    @house.getChummageYear 万/年</p>
                                    <p>&nbsp &nbsp 转让费: @house.getTransferCost 万</p>
                                </li>
                            </ul>
                        </div>
                        <div class="show-div">
                            <ul class="show-ul-show">
                                <li>
                                    <p>&nbsp &nbsp &nbsp &nbsp 位置: @house.getCityCode @house.getAreaCode @house.getAddress <a href="#">地图</a> <a href="#">街景图</a></p>
                                    <p>商铺类型: @house.getHouseType</p>
                                    <p>建议业态: @house.getProposed</p>
                                    <p>&nbsp &nbsp 联系人: @house.getOwner (@house.getOwnerType) @house.getOwnerMobile</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-1 col-lg-1"></div>
                </div>
            </div>
            <div class="show-div">
                <ul class="show-ul-show">
                    <li class="pingmi-li">
                        <p>资质</p>
                    </li>
                    <li class="message-li">
                        <p><a href="#">编辑</a></p>
                    </li>
                </ul>
            </div>
            <div class="show-div">
                <ul class="show-ul-show">
                    <li>
                        <p>《营业执照》: @house.getCredential.getBusinessLicence</p>
                        <p>《食品经营许可证》: @house.getCredential.getFoodAndBeverageBusinessLicense</p>
                        <p>《餐饮服务许可证》: @house.getCredential.getFoodAndBeverageBusinessLicense</p>
                    </li>
                    <li class="pingmi-li">
                        <p>《消防安全检查许可证》: @house.getCredential.getFireSafetyPermition</p>
                        <p> 发票: @house.getCredential.getInvoice</p>
                    </li>
                </ul>
            </div>














            <div class="show-ul">
                <ul class="show-ul">
                    <li class="pingmi-li">
                        <p>200平米</p>
                    </li>
                    <li>
                        <p></p>
                        <p>10元/每天每平米</p>
                        <p>6万元/月</p>
                        <p>25万元转让费</p>
                    </li>
                    <li class="money-li">
                        <p></p>
                        <p>当前品牌：粉之都</p>
                        <p>租售状态：可出售</p>
                        <p>当前业态：米粉，小吃快餐</p>
                    </li>
                    <li class="message-li">
                        <p><a href="#">编辑</a> <a href="#">查看详情</a></p>
                        <p>李先生 中介</p>
                        <p>15888889999</p>
                        <p>来源类型： 内退</p>
                    </li>
                </ul>
            </div>

        </div>
    </body>
</html>